In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/df_prepped.csv')
df.head()

,unq_id,timestamp,customer_no,location,revenue_per_minute,before
0,Cust_2019-09-02 07:03:00_no_1,2019-09-02 07:03:00,1,dairy,5,NaN
1,Cust_2019-09-02 07:03:00_no_2,2019-09-02 07:03:00,2,dairy,5,dairy
2,Cust_2019-09-02 07:04:00_no_3,2019-09-02 07:04:00,3,dairy,5,dairy
3,Cust_2019-09-02 07:04:00_no_4,2019-09-02 07:04:00,4,dairy,5,dairy
4,Cust_2019-09-02 07:04:00_no_5,2019-09-02 07:04:00,5,spices,3,dairy

In [ ]:
df.tail()

### Calculate the total number of customers in each section

### Calculate the total number of customers in each section over time

### Display the number of customers at checkout over time

### Calculate the time each customer spent in the market

### Calculate the total number of customers in the supermarket over time

#### Our business managers think that the first section customers visit follows a different pattern than the following ones. Plot the distribution of customers of their first visited section versus following sections (treat all sections visited after the first as “following”)