In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")

In [2]:
monday = pd.read_csv('data/monday.csv', delimiter =';')
tuesday = pd.read_csv('data/tuesday.csv', delimiter =';' )
wednesday = pd.read_csv('data/wednesday.csv', delimiter =';')
thursday = pd.read_csv('data/thursday.csv', delimiter =';')
friday = pd.read_csv('data/friday.csv', delimiter =';')
df = pd.concat([monday, tuesday, wednesday, thursday, friday], axis = 0)

df['timestamp'] = pd.to_datetime(df['timestamp'])
#df['day'] = df['timestamp'].dt.day

conditions = [
    (df['location'] == "fruit"),
    (df['location'] == "spices"),
    (df['location'] == "dairy"),
    (df['location'] == "drinks"),
    ]

values = [4, 3, 5, 6]

df['revenue_per_minute'] = np.select(conditions, values)

# df["unq_id"] = 'Cust' + df["day"].astype(str) + df["customer_no"].astype(str)

df["unq_id"] = 'Cust' + df["timestamp"].astype(str) + df["customer_no"].astype(str)

df = df[['timestamp', 'unq_id', 'customer_no', 'location' , 'revenue_per_minute']] # 'day',

#df['time'] = df['timestamp'].dt.time

df = df[['timestamp', 'unq_id', 'customer_no', 'location' , 'revenue_per_minute']] # 'time', 'day',

df.head()

# df = pd.read_csv('monday.csv', sep=';', parse_dates=True)
# df['timestamp'] = pd.to_datetime(df['timestamp'])

,timestamp,unq_id,customer_no,location,revenue_per_minute
0,2019-09-02 07:03:00,Cust2019-09-02 07:03:001,1,dairy,5
1,2019-09-02 07:03:00,Cust2019-09-02 07:03:002,2,dairy,5
2,2019-09-02 07:04:00,Cust2019-09-02 07:04:003,3,dairy,5
3,2019-09-02 07:04:00,Cust2019-09-02 07:04:004,4,dairy,5
4,2019-09-02 07:04:00,Cust2019-09-02 07:04:005,5,spices,3

In [3]:
df = df.sort_values(['customer_no', 'timestamp'])
df.set_index('timestamp', inplace=True)
df2 = df.groupby('customer_no').resample('1min').fillna('ffill')
df2.head(50)

                                                   unq_id  customer_no  \
customer_no timestamp
1           2019-09-02 07:03:00  Cust2019-09-02 07:03:001            1
            2019-09-02 07:04:00  Cust2019-09-02 07:03:001            1
            2019-09-02 07:05:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:06:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:07:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:08:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:09:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:10:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:11:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:12:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:13:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:14:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:15:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:16:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:17:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:18:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:19:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:20:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:21:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:22:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:23:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:24:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:25:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:26:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:27:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:28:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:29:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:30:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:31:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:32:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:33:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:34:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:35:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:36:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:37:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:38:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:39:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:40:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:41:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:42:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:43:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:44:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:45:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:46:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:47:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:48:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:49:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:50:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:51:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:52:00  Cust2019-09-02 07:05:001            1

                                 location  revenue_per_minute
customer_no timestamp
1           2019-09-02 07:03:00     dairy                   5
            2019-09-02 07:04:00     dairy                   5
            2019-09-02 07:05:00  checkout                   0
            2019-09-02 07:06:00  checkout                   0
            2019-09-02 07:07:00  checkout                   0
            2019-09-02 07:08:00  checkout                   0
            2019-09-02 07:09:00  checkout                   0
            2019-09-02 07:10:00  checkout                   0
            2019-09-02 07:11:00  checkout                   0
            2019-09-02 07:12:00  checkout                   0
            2019-09-02 07:13:00  checkout                   0
            2019-09-02 07:14:00  checkout                   0
            2019-09-02 07:15:00  checkout                   0
            2019-09-02 07:16:00  checkout                   0
            2019-09-02 07:17:00  checkout                   0
            2019-09-02 07:18:00  checkout                   0
            2019-09-02 07:19:00  checkout                   0
            2019-09-02 07:20:00  checkout                   0
            2019-09-02 07:21:00  checkout                   0
            2019-09-02 07:22:00  checkout                   0
            2019-09-02 07:23:00  checkout                   0
            2019-09-02 07:24:00  checkout                   0
            2019-09-02 07:25:00  checkout                   0
            2019-09-02 07:26:00  checkout                   0
            2019-09-02 07:27:00  checkout                   0
            2019-09-02 07:28:00  checkout                   0
            2019-09-02 07:29:00  checkout                   0
            2019-09-02 07:30:00  checkout                   0
            2019-09-02 07:31:00  checkout                   0
            2019-09-02 07:32:00  checkout                   0
            2019-09-02 07:33:00  checkout                   0
            2019-09-02 07:34:00  checkout                   0
            2019-09-02 07:35:00  checkout                   0
            2019-09-02 07:36:00  checkout                   0
            2019-09-02 07:37:00  checkout                   0
            2019-09-02 07:38:00  checkout                   0
            2019-09-02 07:39:00  checkout                   0
            2019-09-02 07:40:00  checkout                   0
            2019-09-02 07:41:00  checkout                   0
            2019-09-02 07:42:00  checkout                   0
            2019-09-02 07:43:00  checkout                   0
            2019-09-02 07:44:00  checkout                   0
            2019-09-02 07:45:00  checkout                   0
            2019-09-02 07:46:00  checkout                   0
            2019-09-02 07:47:00  checkout                   0
            2019-09-02 07:48:00  checkout                   0
            2019-09-02 07:49:00  checkout                   0
            2019-09-02 07:50:00  checkout                   0
            2019-09-02 07:51:00  checkout                   0
            2019-09-02 07:52:00  checkout                   0

In [4]:
df2['before'] = df2['location'].shift(1)
df2.head()

                                                   unq_id  customer_no  \
customer_no timestamp
1           2019-09-02 07:03:00  Cust2019-09-02 07:03:001            1
            2019-09-02 07:04:00  Cust2019-09-02 07:03:001            1
            2019-09-02 07:05:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:06:00  Cust2019-09-02 07:05:001            1
            2019-09-02 07:07:00  Cust2019-09-02 07:05:001            1

                                 location  revenue_per_minute    before
customer_no timestamp
1           2019-09-02 07:03:00     dairy                   5       NaN
            2019-09-02 07:04:00     dairy                   5     dairy
            2019-09-02 07:05:00  checkout                   0     dairy
            2019-09-02 07:06:00  checkout                   0  checkout
            2019-09-02 07:07:00  checkout                   0  checkout

In [5]:
trans_prob = pd.crosstab(df2['location'], df2['before'], normalize=0)
trans_prob

before    checkout     dairy    drinks     fruit    spices
location
checkout  0.999121  0.000216  0.000248  0.000303  0.000111
dairy     0.061823  0.864568  0.003069  0.035356  0.035183
drinks    0.116492  0.107547  0.598705  0.071664  0.105593
fruit     0.104721  0.033201  0.031932  0.808821  0.021325
spices    0.100893  0.068914  0.063509  0.048495  0.718189

In [6]:
trans_prob.to_csv('trans_matrix_prob.csv', index=True)