### MCMCS data analysis

In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [13]:
df1 = pd.read_csv('/Users/krystanafoh/datasets/MCMCS/monday.csv', sep=';', parse_dates=['timestamp'], index_col=['timestamp'])

df2 = pd.read_csv('/Users/krystanafoh/datasets/MCMCS/tuesday.csv', sep=';', parse_dates=['timestamp'], index_col=['timestamp'])

df3 = pd.read_csv('/Users/krystanafoh/datasets/MCMCS/wednesday.csv', sep=';', parse_dates=['timestamp'],index_col=['timestamp'])

df4 = pd.read_csv('/Users/krystanafoh/datasets/MCMCS/thursday.csv', sep=';', parse_dates=['timestamp'], index_col=['timestamp'])

df5 = pd.read_csv('/Users/krystanafoh/datasets/MCMCS/friday.csv', sep=';', parse_dates=['timestamp'],index_col=['timestamp'])

In [14]:
df1

                     customer_no  location
timestamp
2019-09-02 07:03:00            1     dairy
2019-09-02 07:03:00            2     dairy
2019-09-02 07:04:00            3     dairy
2019-09-02 07:04:00            4     dairy
2019-09-02 07:04:00            5    spices
...                          ...       ...
2019-09-02 21:49:00         1442  checkout
2019-09-02 21:49:00         1444  checkout
2019-09-02 21:49:00         1445     dairy
2019-09-02 21:50:00         1446     dairy
2019-09-02 21:50:00         1447     fruit

[4884 rows x 2 columns]

In [ ]:
# complete dataframe:
df = pd.concat([df1, df2, df3, df4, df5], axis=0)

In [ ]:
df

In [ ]:
df['day'] = df.index.day

In [ ]:
# plot location counts per day of week: 
sns.countplot(data=df, x="location", hue="day")

In [ ]:
# try crosstab: 
pd.crosstab(df['customer_no'], df['location'])

### data analysis on df1

In [ ]:
# 1:
# K___Calculate the total number of customers in each section

df1.groupby('location').count()

In [ ]:
# 2:
# M __Calculate the total number of customers in each section over time ?!

# no of customers at locations in time interval: 
df1.between_time('08:00', '09:00').groupby('location', as_index=False).count().head()

In [ ]:
# 3:
# K __Display the number of customers at checkout over time

df_checkout = df1[df1['location'] == 'checkout']

In [ ]:
df_checkout['hour'] = df_checkout.index.hour.copy()

In [ ]:
df_checkout = df_checkout.groupby('hour').count().head() #nunique??

In [ ]:
df_checkout

In [ ]:
sns.lineplot(data=df_checkout, x=df_checkout.index, y='customer_no')
plt.title('number of customers at checkout over time')

In [ ]:
# 4: 
# k__Calculate the time each customer spent in the market 
num_cust = len(df1['customer_no'].unique())
cust_time = {}

for x in range(num_cust):

        df =   df1[df1['customer_no'] == x]
        time_spend = df.index.max() - df.index.min()
        
        cust_time[x] = time_spend

In [ ]:
pd.DataFrame.from_dict(cust_time, orient='index')

In [ ]:
# 5: 
# K__Calculate the total number of customers in the supermarket over time.

#df1.groupby(df1.index.hour)['customer_no'].nunique()
sns.lineplot(data=df1.groupby(df1.index.hour)['customer_no'].nunique())
sns.lineplot(data=df1.groupby(df1.index.hour)['customer_no'].count())
#sns.lineplot(data=df1.groupby(df1.index.hour).count())

#### last task:

In [ ]:
# 5 whaaaaaat?:

# super complicated and slow attempt to get at least the location where people tend to go back to 
# after they went to 1 other location...

#df_cust = df1.groupby('customer_no')

#for x in  range(1, ((len(df_cust)) + 1)):
    
    #df_cust_single = df1.groupby('customer_no').get_group(x)
    #df_cust_single['return_to_first'] = ''
    

    #if len(df_cust_single) >= 3 :
        
        #if df_cust_single['location'].iloc[0] == df_cust_single['location'].iloc[2]:
            
            #df_cust_single['return_to_first'].iloc[2] = 'return'

           
            #df1 = pd.concat([df1, df_cust_single])
       
        
            
            
            
            
            df_cust = df1.groupby('customer_no')

In [ ]:
#df1[df1['return_to_first'] == 'return']

In [ ]:
#df1[df1['return_to_first'] == 'return'].groupby('location').count()
# no return to checkout...! :P

In [ ]:

#df_cust = df1.groupby('customer_no')
#locations = {}

#for x in  range(1, ((len(df_cust)) + 1)):
    
    
    #df_cust_single = df1.groupby('customer_no').get_group(x)
    
    
    #for x in range(len(df_cust_single)):
    #if len(df_cust_single) >= 2 :  
        
        #locs = { 'first' : (df_cust_single['location'].iloc[0]), 'second' :(df_cust_single['location'].iloc[1])}
        #locations = locs

In [ ]:
#locations

In [ ]:
#first = {}

#for i in df['customer_no'].unique():
   # first_loc =df.groupby('customer_no').get_group(i)['location'].head(1)

   # first 
    
#first

In [3]:
# sort values and get column 'before':
df1.reset_index(inplace = True)

In [4]:
df1 = df1.sort_values(['customer_no', 'timestamp'])

In [6]:
df1.head(20)

              timestamp  customer_no  location
0   2019-09-02 07:03:00            1     dairy
8   2019-09-02 07:05:00            1  checkout
1   2019-09-02 07:03:00            2     dairy
12  2019-09-02 07:06:00            2  checkout
2   2019-09-02 07:04:00            3     dairy
13  2019-09-02 07:06:00            3  checkout
3   2019-09-02 07:04:00            4     dairy
24  2019-09-02 07:08:00            4  checkout
4   2019-09-02 07:04:00            5    spices
9   2019-09-02 07:05:00            5  checkout
5   2019-09-02 07:04:00            6    spices
10  2019-09-02 07:05:00            6     dairy
62  2019-09-02 07:17:00            6    spices
71  2019-09-02 07:18:00            6    drinks
102 2019-09-02 07:25:00            6    spices
104 2019-09-02 07:26:00            6     dairy
117 2019-09-02 07:27:00            6    spices
135 2019-09-02 07:29:00            6  checkout
6   2019-09-02 07:04:00            7    spices
11  2019-09-02 07:05:00            7    drinks

In [10]:
df1['before'] = df1['location'].shift(1)

In [11]:
df1.head(20)

              timestamp  customer_no  location     after    before
0   2019-09-02 07:03:00            1     dairy       NaN       NaN
8   2019-09-02 07:05:00            1  checkout     dairy     dairy
1   2019-09-02 07:03:00            2     dairy  checkout  checkout
12  2019-09-02 07:06:00            2  checkout     dairy     dairy
2   2019-09-02 07:04:00            3     dairy  checkout  checkout
13  2019-09-02 07:06:00            3  checkout     dairy     dairy
3   2019-09-02 07:04:00            4     dairy  checkout  checkout
24  2019-09-02 07:08:00            4  checkout     dairy     dairy
4   2019-09-02 07:04:00            5    spices  checkout  checkout
9   2019-09-02 07:05:00            5  checkout    spices    spices
5   2019-09-02 07:04:00            6    spices  checkout  checkout
10  2019-09-02 07:05:00            6     dairy    spices    spices
62  2019-09-02 07:17:00            6    spices     dairy     dairy
71  2019-09-02 07:18:00            6    drinks    spices    spices
102 2019-09-02 07:25:00            6    spices    drinks    drinks
104 2019-09-02 07:26:00            6     dairy    spices    spices
117 2019-09-02 07:27:00            6    spices     dairy     dairy
135 2019-09-02 07:29:00            6  checkout    spices    spices
6   2019-09-02 07:04:00            7    spices  checkout  checkout
11  2019-09-02 07:05:00            7    drinks    spices    spices