In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")

In [2]:
monday = pd.read_csv('data/monday.csv', delimiter =';')
tuesday = pd.read_csv('data/tuesday.csv', delimiter =';' )
wednesday = pd.read_csv('data/wednesday.csv', delimiter =';')
thursday = pd.read_csv('data/thursday.csv', delimiter =';')
friday = pd.read_csv('data/friday.csv', delimiter =';')
df = pd.concat([monday, tuesday, wednesday, thursday, friday], axis = 0)

df['timestamp'] = pd.to_datetime(df['timestamp'])
#df['day'] = df['timestamp'].dt.day

conditions = [
    (df['location'] == "fruit"),
    (df['location'] == "spices"),
    (df['location'] == "dairy"),
    (df['location'] == "drinks"),
    ]

values = [4, 3, 5, 6]

df['revenue_per_minute'] = np.select(conditions, values)

# df["unq_id"] = 'Cust' + df["day"].astype(str) + df["customer_no"].astype(str)

df["unq_id"] = 'Cust' + df["timestamp"].astype(str) + df["customer_no"].astype(str)

df = df[['timestamp', 'unq_id', 'customer_no', 'location' , 'revenue_per_minute']] # 'day',

#df['time'] = df['timestamp'].dt.time

df = df[['timestamp', 'unq_id', 'customer_no', 'location' , 'revenue_per_minute']] # 'time', 'day',

df.head()

,timestamp,unq_id,customer_no,location,revenue_per_minute
0,2019-09-02 07:03:00,Cust2019-09-02 07:03:001,1,dairy,5
1,2019-09-02 07:03:00,Cust2019-09-02 07:03:002,2,dairy,5
2,2019-09-02 07:04:00,Cust2019-09-02 07:04:003,3,dairy,5
3,2019-09-02 07:04:00,Cust2019-09-02 07:04:004,4,dairy,5
4,2019-09-02 07:04:00,Cust2019-09-02 07:04:005,5,spices,3

In [3]:
df = df.sort_values(['customer_no', 'timestamp'])
df = df.set_index('timestamp')
df.head()
# df.head(50)
# df.tail(20)
#df.tail(20)

,unq_id,customer_no,location,revenue_per_minute
timestamp,,,,
2019-09-02 07:03:00,Cust2019-09-02 07:03:001,1,dairy,5
2019-09-02 07:05:00,Cust2019-09-02 07:05:001,1,checkout,0
2019-09-03 07:02:00,Cust2019-09-03 07:02:001,1,fruit,4
2019-09-03 07:05:00,Cust2019-09-03 07:05:001,1,drinks,6
2019-09-03 07:12:00,Cust2019-09-03 07:12:001,1,checkout,0

In [4]:
df['before'] = df['location'].shift(1)
df = df.groupby('unq_id').resample('1min').fillna('ffill')
#df['time'] = df['timestamp'].dt.time
df

,,unq_id,customer_no,location,revenue_per_minute,before
unq_id,timestamp,,,,,
Cust2019-09-02 07:03:001,2019-09-02 07:03:00,Cust2019-09-02 07:03:001,1,dairy,5,NaN
Cust2019-09-02 07:03:002,2019-09-02 07:03:00,Cust2019-09-02 07:03:002,2,dairy,5,checkout
Cust2019-09-02 07:04:003,2019-09-02 07:04:00,Cust2019-09-02 07:04:003,3,dairy,5,checkout
Cust2019-09-02 07:04:004,2019-09-02 07:04:00,Cust2019-09-02 07:04:004,4,dairy,5,checkout
Cust2019-09-02 07:04:005,2019-09-02 07:04:00,Cust2019-09-02 07:04:005,5,spices,3,checkout
...,...,...,...,...,...,...
Cust2019-09-06 21:50:001500,2019-09-06 21:50:00,Cust2019-09-06 21:50:001500,1500,dairy,5,fruit
Cust2019-09-06 21:50:001507,2019-09-06 21:50:00,Cust2019-09-06 21:50:001507,1507,checkout,0,dairy
Cust2019-09-06 21:50:001508,2019-09-06 21:50:00,Cust2019-09-06 21:50:001508,1508,checkout,0,dairy
Cust2019-09-06 21:50:001509,2019-09-06 21:50:00,Cust2019-09-06 21:50:001509,1509,drinks,6,checkout
Cust2019-09-06 21:50:001510,2019-09-06 21:50:00,Cust2019-09-06 21:50:001510,1510,spices,3,checkout

In [5]:
df = df.reset_index(level = 1)

In [6]:
df.head()

,timestamp,unq_id,customer_no,location,revenue_per_minute,before
unq_id,,,,,,
Cust2019-09-02 07:03:001,2019-09-02 07:03:00,Cust2019-09-02 07:03:001,1,dairy,5,NaN
Cust2019-09-02 07:03:002,2019-09-02 07:03:00,Cust2019-09-02 07:03:002,2,dairy,5,checkout
Cust2019-09-02 07:04:003,2019-09-02 07:04:00,Cust2019-09-02 07:04:003,3,dairy,5,checkout
Cust2019-09-02 07:04:004,2019-09-02 07:04:00,Cust2019-09-02 07:04:004,4,dairy,5,checkout
Cust2019-09-02 07:04:005,2019-09-02 07:04:00,Cust2019-09-02 07:04:005,5,spices,3,checkout

In [7]:
df['time'] = df['timestamp'].dt.time
df['day'] = df['timestamp'].dt.day
df.head()

,timestamp,unq_id,customer_no,location,revenue_per_minute,before,time,day
unq_id,,,,,,,,
Cust2019-09-02 07:03:001,2019-09-02 07:03:00,Cust2019-09-02 07:03:001,1,dairy,5,NaN,07:03:00,2
Cust2019-09-02 07:03:002,2019-09-02 07:03:00,Cust2019-09-02 07:03:002,2,dairy,5,checkout,07:03:00,2
Cust2019-09-02 07:04:003,2019-09-02 07:04:00,Cust2019-09-02 07:04:003,3,dairy,5,checkout,07:04:00,2
Cust2019-09-02 07:04:004,2019-09-02 07:04:00,Cust2019-09-02 07:04:004,4,dairy,5,checkout,07:04:00,2
Cust2019-09-02 07:04:005,2019-09-02 07:04:00,Cust2019-09-02 07:04:005,5,spices,3,checkout,07:04:00,2

In [8]:
trans_prob = round(pd.crosstab(df['location'], df['before'], normalize=0),3)
trans_prob

before    checkout  dairy  drinks  fruit  spices
location
checkout     0.000  0.246   0.283  0.344   0.127
dairy        0.456  0.000   0.023  0.261   0.260
drinks       0.290  0.268   0.001  0.178   0.263
fruit        0.547  0.174   0.167  0.001   0.111
spices       0.358  0.245   0.225  0.172   0.000

In [9]:
trans_prob.to_csv('trans_prob.csv', index=True)