In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")

In [2]:
monday = pd.read_csv('data/monday.csv', delimiter =';')
tuesday = pd.read_csv('data/tuesday.csv', delimiter =';' )
wednesday = pd.read_csv('data/wednesday.csv', delimiter =';')
thursday = pd.read_csv('data/thursday.csv', delimiter =';')
friday = pd.read_csv('data/friday.csv', delimiter =';')
df = pd.concat([monday, tuesday, wednesday, thursday, friday], axis = 0)
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['day'] = df['timestamp'].dt.day

conditions = [
    (df['location'] == "fruit"),
    (df['location'] == "spices"),
    (df['location'] == "dairy"),
    (df['location'] == "drinks"),
    ]

values = [4, 3, 5, 6]

df['revenue_per_minute'] = np.select(conditions, values)

df["unq_id"] = 'Cust' + df["day"].astype(str) + df["customer_no"].astype(str)

df = df[['timestamp', 'day', 'unq_id', 'customer_no', 'location' , 'revenue_per_minute']]

df.head()

            timestamp  day  unq_id  customer_no location  revenue_per_minute
0 2019-09-02 07:03:00    2  Cust21            1    dairy                   5
1 2019-09-02 07:03:00    2  Cust22            2    dairy                   5
2 2019-09-02 07:04:00    2  Cust23            3    dairy                   5
3 2019-09-02 07:04:00    2  Cust24            4    dairy                   5
4 2019-09-02 07:04:00    2  Cust25            5   spices                   3

In [3]:
df = df.sort_values(['customer_no', 'timestamp'])
df['after'] = df['location'].shift(1)
df.head(50)

,timestamp,day,unq_id,customer_no,location,revenue_per_minute,after
0,2019-09-02 07:03:00,2,Cust21,1,dairy,5,NaN
8,2019-09-02 07:05:00,2,Cust21,1,checkout,0,dairy
0,2019-09-03 07:02:00,3,Cust31,1,fruit,4,checkout
3,2019-09-03 07:05:00,3,Cust31,1,drinks,6,fruit
25,2019-09-03 07:12:00,3,Cust31,1,checkout,0,drinks
0,2019-09-04 07:00:00,4,Cust41,1,fruit,4,checkout
9,2019-09-04 07:02:00,4,Cust41,1,checkout,0,fruit
0,2019-09-05 07:00:00,5,Cust51,1,drinks,6,checkout
4,2019-09-05 07:02:00,5,Cust51,1,checkout,0,drinks
0,2019-09-06 07:00:00,6,Cust61,1,dairy,5,checkout
12,2019-09-06 07:04:00,6,Cust61,1,spices,3,dairy
15,2019-09-06 07:05:00,6,Cust61,1,checkout,0,spices
1,2019-09-02 07:03:00,2,Cust22,2,dairy,5,checkout
12,2019-09-02 07:06:00,2,Cust22,2,checkout,0,dairy
1,2019-09-03 07:02:00,3,Cust32,2,drinks,6,checkout
34,2019-09-03 07:14:00,3,Cust32,2,fruit,4,drinks
61,2019-09-03 07:17:00,3,Cust32,2,checkout,0,fruit
1,2019-09-04 07:00:00,4,Cust42,2,dairy,5,checkout
23,2019-09-04 07:05:00,4,Cust42,2,spices,3,dairy
25,2019-09-04 07:06:00,4,Cust42,2,checkout,0,spices
1,2019-09-05 07:01:00,5,Cust52,2,fruit,4,checkout
9,2019-09-05 07:05:00,5,Cust52,2,checkout,0,fruit
1,2019-09-06 07:00:00,6,Cust62,2,drinks,6,checkout
3,2019-09-06 07:01:00,6,Cust62,2,checkout,0,drinks
2,2019-09-02 07:04:00,2,Cust23,3,dairy,5,checkout
13,2019-09-02 07:06:00,2,Cust23,3,checkout,0,dairy
2,2019-09-03 07:03:00,3,Cust33,3,dairy,5,checkout
13,2019-09-03 07:10:00,3,Cust33,3,checkout,0,dairy
2,2019-09-04 07:00:00,4,Cust43,3,fruit,4,checkout
6,2019-09-04 07:01:00,4,Cust43,3,spices,3,fruit
11,2019-09-04 07:03:00,4,Cust43,3,drinks,6,spices
26,2019-09-04 07:06:00,4,Cust43,3,fruit,4,drinks
41,2019-09-04 07:11:00,4,Cust43,3,checkout,0,fruit
2,2019-09-05 07:01:00,5,Cust53,3,dairy,5,checkout
29,2019-09-05 07:12:00,5,Cust53,3,spices,3,dairy
39,2019-09-05 07:13:00,5,Cust53,3,fruit,4,spices
46,2019-09-05 07:14:00,5,Cust53,3,drinks,6,fruit
67,2019-09-05 07:16:00,5,Cust53,3,fruit,4,drinks
75,2019-09-05 07:17:00,5,Cust53,3,spices,3,fruit
90,2019-09-05 07:19:00,5,Cust53,3,dairy,5,spices
137,2019-09-05 07:24:00,5,Cust53,3,spices,3,dairy
141,2019-09-05 07:25:00,5,Cust53,3,drinks,6,spices
147,2019-09-05 07:26:00,5,Cust53,3,checkout,0,drinks
2,2019-09-06 07:00:00,6,Cust63,3,fruit,4,checkout
9,2019-09-06 07:03:00,6,Cust63,3,spices,3,fruit
13,2019-09-06 07:04:00,6,Cust63,3,dairy,5,spices
38,2019-09-06 07:11:00,6,Cust63,3,checkout,0,dairy
3,2019-09-02 07:04:00,2,Cust24,4,dairy,5,checkout
24,2019-09-02 07:08:00,2,Cust24,4,checkout,0,dairy
4,2019-09-03 07:06:00,3,Cust34,4,dairy,5,checkout

In [4]:
df.tail(20)

,timestamp,day,unq_id,customer_no,location,revenue_per_minute,after
5085,2019-09-05 21:41:00,5,Cust51529,1529,spices,3,dairy
5087,2019-09-05 21:42:00,5,Cust51529,1529,dairy,5,spices
5093,2019-09-05 21:45:00,5,Cust51529,1529,checkout,0,dairy
5037,2019-09-04 21:46:00,4,Cust41530,1530,dairy,5,checkout
5042,2019-09-04 21:47:00,4,Cust41530,1530,spices,3,dairy
5048,2019-09-04 21:49:00,4,Cust41530,1530,fruit,4,spices
5089,2019-09-05 21:43:00,5,Cust51530,1530,fruit,4,fruit
5091,2019-09-05 21:44:00,5,Cust51530,1530,dairy,5,fruit
5097,2019-09-05 21:48:00,5,Cust51530,1530,checkout,0,dairy
5038,2019-09-04 21:46:00,4,Cust41531,1531,drinks,6,checkout
5049,2019-09-04 21:49:00,4,Cust41531,1531,checkout,0,drinks
5090,2019-09-05 21:43:00,5,Cust51531,1531,spices,3,checkout
5094,2019-09-05 21:45:00,5,Cust51531,1531,drinks,6,spices
5095,2019-09-05 21:46:00,5,Cust51531,1531,checkout,0,drinks
5098,2019-09-05 21:48:00,5,Cust51532,1532,dairy,5,checkout
5099,2019-09-05 21:48:00,5,Cust51533,1533,dairy,5,dairy
5100,2019-09-05 21:48:00,5,Cust51534,1534,fruit,4,dairy
5102,2019-09-05 21:49:00,5,Cust51534,1534,checkout,0,fruit
5101,2019-09-05 21:48:00,5,Cust51535,1535,spices,3,checkout
5103,2019-09-05 21:49:00,5,Cust51535,1535,checkout,0,spices

In [6]:
trans_prob = round(pd.crosstab(df['after'], df['location'], normalize=0),3)
trans_prob

location  checkout  dairy  drinks  fruit  spices
after
checkout     0.000  0.288   0.153  0.378   0.181
dairy        0.390  0.000   0.224  0.190   0.196
drinks       0.537  0.027   0.001  0.219   0.217
fruit        0.499  0.238   0.136  0.001   0.126
spices       0.251  0.324   0.274  0.152   0.000

In [8]:
trans_prob.to_csv('trans_prob.csv', index=True)